<div class="container mt-5 my-5">
  <div class="offset-3 col-6 b-color p-0">
    <h5 class="text-center m-color py-3 text-white font-weight-bold">Log in</h5>
    <%= form_with(url: login_path, scope: :session, local: true) do |f| %>

    <div class="px-4 mt-4">
      <div class="form-group">
        <%= f.label :username %>
        <%= f.text_field :username, class: 'form-control', required: true %>
      </div>

      <div class="form-group text-right">
        <span class='pull-left t-color'>Login with: 
          <%= link_to image_tag('twitter.png', class: 'w-25 img-fluid'), "/auth/twitter"%>
        </span>
        <%= link_to "Register", new_user_path, class: 'pr-2 t-color' %>
        <%= f.submit 'Log in', class: 'buttons' %>
      </div>
    </div> 
    <% end %>
  </div>
</div>
