<%= form_for([current_user, @article], html: {multipart: true}) do |f| %>
  <div class="form-group">
    <%= f.label :title, 'Title:' %>
    <%= f.text_field :title,
              required: true,
              autofocus: true, autocomplete: "title", class: "form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :text, 'Body:' %>
    <%= f.text_area :text,
              required: true, autocomplete: "text", class: "form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :categories, 'Select a Category:' %><br />
    <div class="row">
      <% categories.each_with_index do |category| %>
        <div class="col-4">
          <%= check_box_tag("categories[]", category.id) %>
          <%= label_tag(category.name) %> 
        </div>
      <% end %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :image, 'Attach the article image:' %>
    <%= f.file_field :image, required: true %>
  </div>
  <div class="d-flex justify-content-end">
    <%= f.submit "Create Article", class: 'buttons align-left' %>
  </div>
<% end %>
