<section class="container-fluid p-0">
  <article class="p-0 featured-article">
    <%= image_tag featured_article.nil? ? 'default_banner.jpg' : featured_article.image.banner.url, 
      class: 'w-100 h-100 f-image img-fluid' %>
    <div class="title">
        <% if featured_article.nil? %>
          <p class='t-header ml-3'>Welcome to TechTalks</p>
        <% else %>
          <%= link_to featured_article.title, user_article_path(current_user, featured_article), class: 't-header ml-3' %>
        <% end %>
    </div>
  </article>
</section>
<section class="d-flex">
  <% categories_by_priority.each do |category| %>
    <article class="articles-thumb text-white font-weight-bolder">
    <%= link_to category.name, category_path(category), class: 'article-details text-white' %>
      <% if !category_with_recent_article(category).nil? %>
        <%= image_tag category_with_recent_article(category).image.thumb.url, class: 'w-100 h-100 f-image img-fluid' %>
        <%= link_to category_with_recent_article(category).title,  user_article_path(current_user, category_with_recent_article(category)), class: 'details-title' %>
      <% else %>
        <%= image_tag 'default_logo.png', class: 'mt-4 img-fluid' %> 
      <% end %>
    </article>
  <% end %>
</section>
