<section class="d-flex">
  <article class="flex-grow-1 featured-article">
    <%= image_tag featured_article.nil? ? 'default_banner.jpg' : featured_article.image.banner.url, 
      class: 'w-100 h-100 f-image img-fluid' %>
    <div class="title">
      <h5 class="t-header ml-3">
        <%= featured_article.nil? ? 'Welcome to TechTalks' : featured_article.title %>
      </h5>
    </div>
  </article>
  <article class="flex-grow-3 p-4 all-categories">
    <h5 class="mb-3 font-weight-bold">All Categories</h5>
    <% categories.each do |category| %>
      <%= link_to category_path(category), class: '' do %>
        <p><%= category.name %>(<%= category.articles.size %>)</p>
      <% end %>
    <% end %>
  </article>
</section>
<section class="d-flex">
  <% categories_by_priority.each do |category| %>
    <article class="articles-thumb text-white font-weight-bolder">
      <% if !category_with_recent_article(category).nil? %>
        <%= image_tag category_with_recent_article(category).image.thumb.url, class: 'w-100 h-100 f-image img-fluid' %>
        <h5 class="article-details"><%= category.name %></h5>
        <p class="details-title"><%= category_with_recent_article(category).title %><p>
      <% end %>
    </article>
  <% end %>
  <%#= render 'categories/cat_with_feature' %>
</section>
