<div class="container mt-5 my-5">
  <div class="offset-3 col-6 b-color p-0">
    <h5 class="text-center m-color py-3 text-white font-weight-bold">New User</h5>
    <%= form_with(model: @user, local: true) do |f| %>
      <%= user_error_messages(@user) %>
      <div class="px-4 mt-4">
        <div class="form-group mb-4">
          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control', required: true %>
        </div>

        <div class="form-group mb-4">
          <%= f.label :username %>
          <%= f.text_field :username, class:'form-control', required: true %>
        </div>

        <div class="form-group mb-4">
          <%= f.label :email %>
          <%= f.email_field :email, class: 'form-control', required: true %>
        </div>

        <div class="form-group text-right">
          <%= link_to "Login", login_path, class: 'pr-2 t-color' %>
          <%= f.submit "Create account", class: "my-2 buttons" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
