<div class="container-fluid p-0">
  <div class="row m-0">
    <% @category.articles.each do |article| %>
    <article class="col-md-3 p-0">
      <%= image_tag article.image.ishow.url, class: 'img-fluid' %> 
    </article>
    <article class="col-md-3 p-3">
      <h2 class='c-name mb-3'><%= @category.name %></h2>
      <h5 class='a-title'><%= article.title %></h5>
      <p class='mb-3'><%= article.text.truncate(100) %></p>
      <span class='font-italic mb-2 mr-3'>Author: 
        <strong><%= article.author.name %></strong>
      </span>
      <% if check_vote_status(current_user, article) %>
        Voted
      <% else %>
        <span class='v-button'>
          <%= link_to 'Vote', user_article_votes_path(current_user, article), method: :post %>
        </span>
      <% end %>
    </article>
    <% end %>
  </div>
</div>
