<!DOCTYPE html>
<html>
  <head>
    <title>Tech Talks</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %>
  </head>

  <body>
    <header>
      <%= render 'layouts/header' %>
    </header>
    <main>
      <%= render 'layouts/flash_messages' %>
      <div class="container ">
        <%= yield %>
      </div>
    </main>
    <footer class="fixed-bottom">
      <%= render 'layouts/footer' %>
    </footer>
  </body>
</html>
